<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUiYqLvqFrdF70FY0T4l3FLoLrKXgN_oE</string>
	<key>GCM_SENDER_ID</key>
	<string>196216988404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscarlagatta.educationApp</string>
	<key>PROJECT_ID</key>
	<string>educationapp-f8dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>educationapp-f8dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196216988404:ios:186e2f288477c1859cb4a1</string>
</dict>
</plist>